@charset "utf-8";
@import "reset.css";

:root {
  --main-color: #6327FE;
  --txt-color: #333333;
  --border-color: #C4C4C4;
  --sub-border-color: #E0E0E0;
  --bg-color: #F2F2F2;
  --emphasis-txt-color: #EB5757;
  --sub-txt-color: #828282;
  --button-border: #BDBDBD;
}

div, span, article, section, header, main, footer, p, ul, li, label, a, nav, h1, h2, h3, form, input, button, img, textarea, table, thead, tbody, tr, th, td {
  box-sizing: border-box;
}
  
body, html {
  width: 100%;
  height: 100%;
}

body, button {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
  font-weight: 400;
  color: var(--txt-color);
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
}

table, thead, tbody, tr {
  display: block;
}

/* 유틸리티 */
/* 숨김 텍스트 처리 */
.ir {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* 공통 컴포넌트 스타일 - 피그마 참고 */
/* button 스타일 */
/* m-button-fill 스타일 */
.m-button-fill {
  width: 308px;
  height: 60px;
  background-color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  border-radius: 5px;
}

/* m-button-fff 스타일 */
.m-button-fff {
  width: 60px;
  height: 60px;
  background-color: #FFF;
  border: 1px solid var(--button-border);
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--txt-color);
}

.s-button {
  width: 130px;
  height: 40px;
  background-color: #FFF;
  border: 1px solid var(--button-border);
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

/* link-button 스타일 */
.link-btn {
  position: sticky;
  top: 60px;
  width: 80px;
  height: 80px;
  background-color: var(--main-color);
  border-radius: 50%;
}

/* x 버튼 스타일 */
.icon-delete {
  position: absolute;
  width: 22px;
  height: 22px;
  background: url(../assets/icon-delete.svg) no-repeat center / contain;
}

.like-btn{
  width: 100px;
  height: 100px;
  background-color: gray;
}
.on{
  background-color: red;
}